/* .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.details-banner {
  grid-column: 1;
}

.details-info {
  grid-column: 2;
  background: red;
}

.image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 30px;
}

.details {
  margin-top: 10px;
}

.description {
  margin-top: 20px;
} */
