.footer {
  background-color: var(--primary-20);
  color: var(--neutral-90);
}

.footer-top .container {
  padding-block: 60px;
  display: grid;
  gap: 24px;
}

.footer-text {
  margin-block: 16px;
}

.footer-list-title {
  margin-block-end: 16px;
}

.footer-list {
  display: grid;
  gap: 16px;
}

.footer-link {
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.footer-link:where(:hover, :focus-visible) {
  color: var(--primary-100);
}

.social-list {
  display: flex;
  gap: 16px;
}

.footer-bottom {
  border-block-start: 1px solid var(--neutral-20);
  padding-block: 10px;
  display: flex;
  justify-content: center;
}
