.hero-banner {
  display: none;
}

.hero {
  position: relative;
  background-image: var(--gradient);
  color: var(--neutral-90);
  padding-block: 130px 60px;
  overflow: hidden;
  isolation: isolate;
}

.hero-title {
  color: var(--neutral-100);
}

.hero-text {
  margin-block: 16px 32px;
}

.search-bar {
  background: var(--white);
  display: grid;
  padding: 8px;
  gap: 8px;
  border-radius: 16px;
  box-shadow: var(--shadow-4);
}

.search-item {
  position: relative;
  color: var(--neutral-50);
}

.search-item .search-item-field {
  height: 76px;
  padding: 40px 16px 12px;
  border-radius: var(--radius-medium);
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
  cursor: pointer;
}

.search-item .search-item-field:where(:hover) {
  background-color: var(--neutral-95);
}

.search-item :where(.label, .material-symbols-rounded) {
  position: absolute;
  pointer-events: none;
}

.search-item .label {
  top: 12px;
  left: 16px;
  color: var(--neutral-5);
}

.search-item .material-symbols-rounded {
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  color: var(--primary-100);
}

.search-btn {
  background: var(--primary-100);
  color: var(--neutral-100);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  padding-inline: 24px;
  gap: 12px;
  border-radius: 12px;
  transition: var(--transition-duration-quick) var(--transition-easing-quick);
}

.search-btn:where(:hover, :focus) {
  background-color: var(--primary-80);
}

.search-btn:where(:hover, :focus-visible) {
  background-color: var(--primary-70);
}

.hero .bg-pattern {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  min-height: 100%;
  pointer-events: none;
  z-index: -2;
}
